<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BobDash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <BobDash.Properties.Settings>
            <setting name="Camera1Uri" serializeAs="String">
                <value>http://frcvision.local:1181/?action=stream</value>
            </setting>
            <setting name="Camera2Uri" serializeAs="String">
                <value>http://frcvision.local:1182/?action=stream</value>
            </setting>
            <setting name="NetworkTablesServer" serializeAs="String">
                <value>10.0.85.2</value>
            </setting>
            <setting name="NetworkTablesConnectionCheckVariableName" serializeAs="String">
                <value>Lift Top</value>
            </setting>
            <setting name="DriverAssistCameraUri" serializeAs="String">
                <value>http://frcvision.local:1183/?action=stream</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </BobDash.Properties.Settings>
    </userSettings>
</configuration>
